Library/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
Logs/
.plastic/

**/Assets/AssetStoreTools/
/Assets/Plugins/PlasticSCM*

.vs/
.vscode/
.idea/
.gradle/
.consulo/

*.csproj
*.sln
*.slnx
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.private
*.private.meta

ExportedObj/
sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.app
*.unitypackage

~UnityDirMonSyncFile~*

**/Assets/AddressableAssetsData/*/*.bin*
**/Assets/StreamingAssets/aa.meta

.DS_Store
Thumbs.db
Desktop.ini

*.private.*
