*
!/.gitignore
!/README.md
!/docs/
!/docs/**/
!/docs/**/*.md
!/Assets/
!/Assets/DB_LEVELS.asset
!/Assets/Editor/
!/Assets/Editor/**/
!/Assets/Editor/*.cs
!/Assets/Editor/**/*.cs
!/Assets/Scenes/
!/Assets/Scenes/SampleScene.unity
!/Assets/Scripts/
!/Assets/Scripts/**/
!/Assets/Scripts/*.cs
!/Assets/Scripts/**/*.cs
!/Assets/Scripts/*.jslib
!/Assets/Scripts/**/*.jslib
!/Packages/
!/Packages/manifest.json
!/ProjectSettings/
!/ProjectSettings/EditorBuildSettings.asset
!/ProjectSettings/ProjectVersion.txt
