*
!/.gitignore
!/Assets/
!/Assets/Editor/
!/Assets/Editor/**/
!/Assets/Editor/*.cs
!/Assets/Editor/**/*.cs
!/Assets/Scripts/
!/Assets/Scripts/**/
!/Assets/Scripts/*.cs
!/Assets/Scripts/**/*.cs
!/Assets/Scripts/*.jslib
!/Assets/Scripts/**/*.jslib
